
plugins/FastAsyncWorldEdit/clipboard/16692ebf-2e24-4402-a9ed-80678b069c25.bd
plugins/FastAsyncWorldEdit/clipboard/ca21977a-50a9-4643-babe-a9fee2c4968d.bd
plugins/FastAsyncWorldEdit/clipboard/d09f8eb8-ae7d-3caa-bb58-e29486b30db7.bd
plugins/Citizens/saves.yml13156505570495290935.tmp
plugins/Citizens/saves.yml16530410010234320616.tmp
plugins/Citizens/saves.yml1892122654662264166.tmp
plugins/Citizens/saves.yml5224008806250022005.tmp
plugins/Citizens/saves.yml6275072335203384916.tmp
plugins/Citizens/saves.yml6381463358870215660.tmp
plugins/Citizens/lang/messages_en.properties
cache/mojang_1.19.3.jar
cache/spark.jar
CMD/graalvm-ce-java17-22.3.2
CMD/graalvm-community-openjdk-17.0.9+9.1
libraries/com/github/oshi/oshi-core/6.2.2/oshi-core-6.2.2.jar
libraries/com/google/code/findbugs/jsr305/3.0.2/jsr305-3.0.2.jar
libraries/com/google/code/gson/gson-parent/2.8.9/_remote.repositories
libraries/com/google/code/gson/gson-parent/2.8.9/gson-parent-2.8.9.pom
libraries/com/google/code/gson/gson-parent/2.8.9/gson-parent-2.8.9.pom.sha1
libraries/com/google/code/gson/gson/2.10/gson-2.10.jar
libraries/com/google/code/gson/gson/2.8.9/_remote.repositories
libraries/com/google/code/gson/gson/2.8.9/gson-2.8.9.jar
libraries/com/google/code/gson/gson/2.8.9/gson-2.8.9.jar.sha1
libraries/com/google/code/gson/gson/2.8.9/gson-2.8.9.pom
libraries/com/google/code/gson/gson/2.8.9/gson-2.8.9.pom.sha1
libraries/com/google/errorprone/error_prone_annotations/2.11.0/error_prone_annotations-2.11.0.jar
libraries/com/google/guava/failureaccess/1.0.1/failureaccess-1.0.1.jar
libraries/com/google/guava/guava/31.1-jre/guava-31.1-jre.jar
libraries/com/google/guava/listenablefuture/9999.0-empty-to-avoid-conflict-with-guava/listenablefuture-9999.0-empty-to-avoid-conflict-with-guava.jar
libraries/com/google/j2objc/j2objc-annotations/1.3/j2objc-annotations-1.3.jar
libraries/com/google/protobuf/protobuf-bom/3.19.4/_remote.repositories
libraries/com/google/protobuf/protobuf-bom/3.19.4/protobuf-bom-3.19.4.pom
libraries/com/google/protobuf/protobuf-bom/3.19.4/protobuf-bom-3.19.4.pom.sha1
libraries/com/google/protobuf/protobuf-java/3.19.4/_remote.repositories
libraries/com/google/protobuf/protobuf-java/3.19.4/protobuf-java-3.19.4.jar
libraries/com/google/protobuf/protobuf-java/3.19.4/protobuf-java-3.19.4.pom
libraries/com/google/protobuf/protobuf-java/3.19.4/protobuf-java-3.19.4.pom.sha1
libraries/com/google/protobuf/protobuf-parent/3.19.4/_remote.repositories
libraries/com/google/protobuf/protobuf-parent/3.19.4/protobuf-parent-3.19.4.pom
libraries/com/google/protobuf/protobuf-parent/3.19.4/protobuf-parent-3.19.4.pom.sha1
libraries/com/googlecode/json-simple/json-simple/1.1.1/json-simple-1.1.1.jar
libraries/com/lmax/disruptor/3.4.4/disruptor-3.4.4.jar
libraries/com/mojang/authlib/3.16.29/authlib-3.16.29.jar
libraries/com/mojang/brigadier/1.0.18/brigadier-1.0.18.jar
libraries/com/mojang/datafixerupper/5.0.28/datafixerupper-5.0.28.jar
libraries/com/mojang/javabridge/2.0.25/javabridge-2.0.25.jar
libraries/com/mojang/logging/1.1.1/logging-1.1.1.jar
libraries/com/mysql/mysql-connector-j/8.0.31/_remote.repositories
libraries/com/mysql/mysql-connector-j/8.0.31/mysql-connector-j-8.0.31.jar
libraries/com/mysql/mysql-connector-j/8.0.31/mysql-connector-j-8.0.31.jar.sha1
libraries/com/mysql/mysql-connector-j/8.0.31/mysql-connector-j-8.0.31.pom
libraries/com/mysql/mysql-connector-j/8.0.31/mysql-connector-j-8.0.31.pom.sha1
libraries/com/velocitypowered/velocity-native/3.1.2-SNAPSHOT/velocity-native-3.1.2-SNAPSHOT.jar
libraries/commons-codec/commons-codec/1.11/commons-codec-1.11.jar
libraries/commons-io/commons-io/2.11.0/_remote.repositories
libraries/commons-io/commons-io/2.11.0/commons-io-2.11.0.jar
libraries/commons-io/commons-io/2.11.0/commons-io-2.11.0.pom
libraries/commons-io/commons-io/2.11.0/commons-io-2.11.0.pom.sha1
libraries/commons-lang/commons-lang/2.6/commons-lang-2.6.jar
libraries/dev/omega24/upnp4j/1.0/upnp4j-1.0.jar
libraries/io/leangen/geantyref/geantyref/1.3.11/geantyref-1.3.11.jar
libraries/io/netty/netty-all/4.1.87.Final/netty-all-4.1.87.Final.jar
libraries/io/netty/netty-bom/4.1.84.Final/_remote.repositories
libraries/io/netty/netty-bom/4.1.84.Final/netty-bom-4.1.84.Final.pom
libraries/io/netty/netty-bom/4.1.84.Final/netty-bom-4.1.84.Final.pom.sha1
libraries/io/netty/netty-buffer/4.1.87.Final/netty-buffer-4.1.87.Final.jar
libraries/io/netty/netty-codec-dns/4.1.87.Final/netty-codec-dns-4.1.87.Final.jar
libraries/io/netty/netty-codec-haproxy/4.1.87.Final/netty-codec-haproxy-4.1.87.Final.jar
libraries/io/netty/netty-codec-http/4.1.87.Final/netty-codec-http-4.1.87.Final.jar
libraries/io/netty/netty-codec-http2/4.1.87.Final/netty-codec-http2-4.1.87.Final.jar
libraries/io/netty/netty-codec-memcache/4.1.87.Final/netty-codec-memcache-4.1.87.Final.jar
libraries/io/netty/netty-codec-mqtt/4.1.87.Final/netty-codec-mqtt-4.1.87.Final.jar
libraries/io/netty/netty-codec-redis/4.1.87.Final/netty-codec-redis-4.1.87.Final.jar
libraries/io/netty/netty-codec-smtp/4.1.87.Final/netty-codec-smtp-4.1.87.Final.jar
libraries/io/netty/netty-codec-socks/4.1.87.Final/netty-codec-socks-4.1.87.Final.jar
libraries/io/netty/netty-codec-stomp/4.1.87.Final/netty-codec-stomp-4.1.87.Final.jar
libraries/io/netty/netty-codec-xml/4.1.87.Final/netty-codec-xml-4.1.87.Final.jar
libraries/io/netty/netty-codec/4.1.87.Final/netty-codec-4.1.87.Final.jar
libraries/io/netty/netty-common/4.1.87.Final/netty-common-4.1.87.Final.jar
libraries/io/netty/netty-handler-proxy/4.1.87.Final/netty-handler-proxy-4.1.87.Final.jar
libraries/io/netty/netty-handler-ssl-ocsp/4.1.87.Final/netty-handler-ssl-ocsp-4.1.87.Final.jar
libraries/io/netty/netty-handler/4.1.87.Final/netty-handler-4.1.87.Final.jar
libraries/io/netty/netty-resolver-dns-classes-macos/4.1.87.Final/netty-resolver-dns-classes-macos-4.1.87.Final.jar
libraries/io/netty/netty-resolver-dns-native-macos/4.1.87.Final/netty-resolver-dns-native-macos-4.1.87.Final-osx-aarch_64.jar
libraries/io/netty/netty-resolver-dns-native-macos/4.1.87.Final/netty-resolver-dns-native-macos-4.1.87.Final-osx-x86_64.jar
libraries/io/netty/netty-resolver-dns/4.1.87.Final/netty-resolver-dns-4.1.87.Final.jar
libraries/io/netty/netty-resolver/4.1.87.Final/netty-resolver-4.1.87.Final.jar
libraries/io/netty/netty-transport-classes-epoll/4.1.87.Final/netty-transport-classes-epoll-4.1.87.Final.jar
libraries/io/netty/netty-transport-classes-kqueue/4.1.87.Final/netty-transport-classes-kqueue-4.1.87.Final.jar
libraries/io/netty/netty-transport-native-epoll/4.1.87.Final/netty-transport-native-epoll-4.1.87.Final-linux-aarch_64.jar
libraries/io/netty/netty-transport-native-epoll/4.1.87.Final/netty-transport-native-epoll-4.1.87.Final-linux-x86_64.jar
libraries/io/netty/netty-transport-native-kqueue/4.1.87.Final/netty-transport-native-kqueue-4.1.87.Final-osx-aarch_64.jar
libraries/io/netty/netty-transport-native-kqueue/4.1.87.Final/netty-transport-native-kqueue-4.1.87.Final-osx-x86_64.jar
libraries/io/netty/netty-transport-native-unix-common/4.1.87.Final/netty-transport-native-unix-common-4.1.87.Final.jar
libraries/io/netty/netty-transport-rxtx/4.1.87.Final/netty-transport-rxtx-4.1.87.Final.jar
libraries/io/netty/netty-transport-sctp/4.1.87.Final/netty-transport-sctp-4.1.87.Final.jar
libraries/io/netty/netty-transport-udt/4.1.87.Final/netty-transport-udt-4.1.87.Final.jar
libraries/io/netty/netty-transport/4.1.87.Final/netty-transport-4.1.87.Final.jar
libraries/io/papermc/paper/paper-mojangapi/1.19.3-R0.1-SNAPSHOT/paper-mojangapi-1.19.3-R0.1-SNAPSHOT.jar
libraries/io/sentry/sentry/5.4.0/sentry-5.4.0.jar
libraries/it/unimi/dsi/fastutil/8.5.9/fastutil-8.5.9.jar
libraries/javax/inject/javax.inject/1/javax.inject-1.jar
libraries/me/carleslc/Simple-YAML/Simple-Configuration/1.8.2/Simple-Configuration-1.8.2.jar
libraries/me/carleslc/Simple-YAML/Simple-Yaml/1.8.2/Simple-Yaml-1.8.2.jar
libraries/mysql/mysql-connector-java/8.0.29/mysql-connector-java-8.0.29.jar
libraries/net/fabricmc/mapping-io/0.3.0/mapping-io-0.3.0.jar
libraries/net/java/dev/jna/jna-platform/5.12.1/jna-platform-5.12.1.jar
libraries/net/java/dev/jna/jna/5.12.1/jna-5.12.1.jar
libraries/net/kyori/adventure-api/4.12.0/adventure-api-4.12.0.jar
libraries/net/kyori/adventure-key/4.12.0/adventure-key-4.12.0.jar
libraries/net/kyori/adventure-text-logger-slf4j/4.12.0/adventure-text-logger-slf4j-4.12.0.jar
libraries/net/kyori/adventure-text-minimessage/4.12.0/adventure-text-minimessage-4.12.0.jar
libraries/net/kyori/adventure-text-serializer-gson/4.12.0/adventure-text-serializer-gson-4.12.0.jar
libraries/net/kyori/adventure-text-serializer-legacy/4.12.0/adventure-text-serializer-legacy-4.12.0.jar
libraries/net/kyori/adventure-text-serializer-plain/4.12.0/adventure-text-serializer-plain-4.12.0.jar
libraries/net/kyori/examination-api/1.3.0/examination-api-1.3.0.jar
libraries/net/kyori/examination-string/1.3.0/examination-string-1.3.0.jar
libraries/net/md-5/bungeecord-chat/1.16-R0.4-deprecated+build.6/bungeecord-chat-1.16-R0.4-deprecated+build.6.jar
libraries/net/minecrell/terminalconsoleappender/1.3.0/terminalconsoleappender-1.3.0.jar
libraries/net/sf/jopt-simple/jopt-simple/5.0.4/jopt-simple-5.0.4.jar
libraries/org/apache/apache/23/_remote.repositories
libraries/org/apache/apache/23/apache-23.pom
libraries/org/apache/apache/23/apache-23.pom.sha1
libraries/org/apache/apache/27/_remote.repositories
libraries/org/apache/apache/27/apache-27.pom
libraries/org/apache/apache/27/apache-27.pom.sha1
libraries/org/apache/commons/commons-lang3/3.12.0/_remote.repositories
libraries/org/apache/commons/commons-lang3/3.12.0/commons-lang3-3.12.0.jar
libraries/org/apache/commons/commons-lang3/3.12.0/commons-lang3-3.12.0.pom
libraries/org/apache/commons/commons-lang3/3.12.0/commons-lang3-3.12.0.pom.sha1
libraries/org/apache/commons/commons-parent/52/_remote.repositories
libraries/org/apache/commons/commons-parent/52/commons-parent-52.pom
libraries/org/apache/commons/commons-parent/52/commons-parent-52.pom.sha1
libraries/org/apache/commons/commons-parent/54/_remote.repositories
libraries/org/apache/commons/commons-parent/54/commons-parent-54.pom
libraries/org/apache/commons/commons-parent/54/commons-parent-54.pom.sha1
libraries/org/apache/commons/commons-pool2/2.11.1/_remote.repositories
libraries/org/apache/commons/commons-pool2/2.11.1/commons-pool2-2.11.1.jar
libraries/org/apache/commons/commons-pool2/2.11.1/commons-pool2-2.11.1.jar.sha1
libraries/org/apache/commons/commons-pool2/2.11.1/commons-pool2-2.11.1.pom
libraries/org/apache/commons/commons-pool2/2.11.1/commons-pool2-2.11.1.pom.sha1
libraries/org/apache/commons/commons-text/1.10.0/_remote.repositories
libraries/org/apache/commons/commons-text/1.10.0/commons-text-1.10.0.jar
libraries/org/apache/commons/commons-text/1.10.0/commons-text-1.10.0.jar.sha1
libraries/org/apache/commons/commons-text/1.10.0/commons-text-1.10.0.pom
libraries/org/apache/commons/commons-text/1.10.0/commons-text-1.10.0.pom.sha1
libraries/org/apache/httpcomponents/httpclient/4.5.13/httpclient-4.5.13.jar
libraries/org/apache/httpcomponents/httpcore/4.4.14/httpcore-4.4.14.jar
libraries/org/apache/logging/log4j/log4j-api/2.19.0/log4j-api-2.19.0.jar
libraries/org/apache/logging/log4j/log4j-core/2.19.0/log4j-core-2.19.0.jar
libraries/org/apache/logging/log4j/log4j-iostreams/2.19.0/log4j-iostreams-2.19.0.jar
libraries/org/apache/logging/log4j/log4j-slf4j2-impl/2.19.0/log4j-slf4j2-impl-2.19.0.jar
libraries/org/apache/maven/maven-artifact/3.8.5/maven-artifact-3.8.5.jar
libraries/org/apache/maven/maven-builder-support/3.8.5/maven-builder-support-3.8.5.jar
libraries/org/apache/maven/maven-model-builder/3.8.5/maven-model-builder-3.8.5.jar
libraries/org/apache/maven/maven-model/3.8.5/maven-model-3.8.5.jar
libraries/org/apache/maven/maven-repository-metadata/3.8.5/maven-repository-metadata-3.8.5.jar
libraries/org/apache/maven/maven-resolver-provider/3.8.5/maven-resolver-provider-3.8.5.jar
libraries/org/apache/maven/resolver/maven-resolver-api/1.7.3/maven-resolver-api-1.7.3.jar
libraries/org/apache/maven/resolver/maven-resolver-connector-basic/1.7.3/maven-resolver-connector-basic-1.7.3.jar
libraries/org/apache/maven/resolver/maven-resolver-impl/1.6.3/maven-resolver-impl-1.6.3.jar
libraries/org/apache/maven/resolver/maven-resolver-spi/1.7.3/maven-resolver-spi-1.7.3.jar
libraries/org/apache/maven/resolver/maven-resolver-transport-http/1.7.3/maven-resolver-transport-http-1.7.3.jar
libraries/org/apache/maven/resolver/maven-resolver-util/1.7.3/maven-resolver-util-1.7.3.jar
libraries/org/checkerframework/checker-qual/3.12.0/checker-qual-3.12.0.jar
libraries/org/codehaus/plexus/plexus-interpolation/1.26/plexus-interpolation-1.26.jar
libraries/org/codehaus/plexus/plexus-utils/3.3.0/plexus-utils-3.3.0.jar
libraries/org/eclipse/sisu/org.eclipse.sisu.inject/0.3.5/org.eclipse.sisu.inject-0.3.5.jar
libraries/org/fusesource/jansi/jansi/2.4.0/jansi-2.4.0.jar
libraries/org/jline/jline-reader/3.20.0/jline-reader-3.20.0.jar
libraries/org/jline/jline-terminal-jansi/3.21.0/jline-terminal-jansi-3.21.0.jar
libraries/org/jline/jline-terminal/3.21.0/jline-terminal-3.21.0.jar
libraries/org/joml/joml/1.10.5/joml-1.10.5.jar
libraries/org/json/json/20220320/_remote.repositories
libraries/org/json/json/20220320/json-20220320.jar
libraries/org/json/json/20220320/json-20220320.jar.sha1
libraries/org/json/json/20220320/json-20220320.pom
libraries/org/json/json/20220320/json-20220320.pom.sha1
libraries/org/junit/junit-bom/5.7.1/_remote.repositories
libraries/org/junit/junit-bom/5.7.1/junit-bom-5.7.1.pom
libraries/org/junit/junit-bom/5.7.1/junit-bom-5.7.1.pom.sha1
libraries/org/junit/junit-bom/5.7.2/_remote.repositories
libraries/org/junit/junit-bom/5.7.2/junit-bom-5.7.2.pom
libraries/org/junit/junit-bom/5.7.2/junit-bom-5.7.2.pom.sha1
libraries/org/junit/junit-bom/5.8.0-M1/_remote.repositories
libraries/org/junit/junit-bom/5.8.0-M1/junit-bom-5.8.0-M1.pom
libraries/org/junit/junit-bom/5.8.0-M1/junit-bom-5.8.0-M1.pom.sha1
libraries/org/junit/junit-bom/5.9.1/_remote.repositories
libraries/org/junit/junit-bom/5.9.1/junit-bom-5.9.1.pom
libraries/org/junit/junit-bom/5.9.1/junit-bom-5.9.1.pom.sha1
libraries/org/mongodb/bson-record-codec/4.8.1/_remote.repositories
libraries/org/mongodb/bson-record-codec/4.8.1/bson-record-codec-4.8.1.jar
libraries/org/mongodb/bson-record-codec/4.8.1/bson-record-codec-4.8.1.jar.sha1
libraries/org/mongodb/bson-record-codec/4.8.1/bson-record-codec-4.8.1.pom
libraries/org/mongodb/bson-record-codec/4.8.1/bson-record-codec-4.8.1.pom.sha1
libraries/org/mongodb/bson/4.8.1/_remote.repositories
libraries/org/mongodb/bson/4.8.1/bson-4.8.1.jar
libraries/org/mongodb/bson/4.8.1/bson-4.8.1.jar.sha1
libraries/org/mongodb/bson/4.8.1/bson-4.8.1.pom
libraries/org/mongodb/bson/4.8.1/bson-4.8.1.pom.sha1
libraries/org/mongodb/mongodb-driver-core/4.8.1/_remote.repositories
libraries/org/mongodb/mongodb-driver-core/4.8.1/mongodb-driver-core-4.8.1.jar
libraries/org/mongodb/mongodb-driver-core/4.8.1/mongodb-driver-core-4.8.1.jar.sha1
libraries/org/mongodb/mongodb-driver-core/4.8.1/mongodb-driver-core-4.8.1.pom
libraries/org/mongodb/mongodb-driver-core/4.8.1/mongodb-driver-core-4.8.1.pom.sha1
libraries/org/mongodb/mongodb-driver-sync/4.8.1/_remote.repositories
libraries/org/mongodb/mongodb-driver-sync/4.8.1/mongodb-driver-sync-4.8.1.jar
libraries/org/mongodb/mongodb-driver-sync/4.8.1/mongodb-driver-sync-4.8.1.jar.sha1
libraries/org/mongodb/mongodb-driver-sync/4.8.1/mongodb-driver-sync-4.8.1.pom
libraries/org/mongodb/mongodb-driver-sync/4.8.1/mongodb-driver-sync-4.8.1.pom.sha1
libraries/org/mozilla/rhino-engine/1.7.14/rhino-engine-1.7.14.jar
libraries/org/mozilla/rhino-runtime/1.7.14/rhino-runtime-1.7.14.jar
libraries/org/mozilla/rhino/1.7.14/rhino-1.7.14.jar
libraries/org/ow2/asm/asm-commons/9.4/asm-commons-9.4.jar
libraries/org/ow2/asm/asm-tree/9.4/asm-tree-9.4.jar
libraries/org/ow2/asm/asm/9.4/asm-9.4.jar
libraries/org/purpurmc/purpur/purpur-api/1.19.3-R0.1-SNAPSHOT/purpur-api-1.19.3-R0.1-SNAPSHOT.jar
libraries/org/slf4j/jcl-over-slf4j/1.7.32/jcl-over-slf4j-1.7.32.jar
libraries/org/slf4j/slf4j-api/1.7.36/_remote.repositories
libraries/org/slf4j/slf4j-api/1.7.36/slf4j-api-1.7.36.jar
libraries/org/slf4j/slf4j-api/1.7.36/slf4j-api-1.7.36.jar.sha1
libraries/org/slf4j/slf4j-api/1.7.36/slf4j-api-1.7.36.pom
libraries/org/slf4j/slf4j-api/1.7.36/slf4j-api-1.7.36.pom.sha1
libraries/org/slf4j/slf4j-api/2.0.1/slf4j-api-2.0.1.jar
libraries/org/slf4j/slf4j-parent/1.7.36/_remote.repositories
libraries/org/slf4j/slf4j-parent/1.7.36/slf4j-parent-1.7.36.pom
libraries/org/slf4j/slf4j-parent/1.7.36/slf4j-parent-1.7.36.pom.sha1
libraries/org/sonatype/oss/oss-parent/7/_remote.repositories
libraries/org/sonatype/oss/oss-parent/7/oss-parent-7.pom
libraries/org/sonatype/oss/oss-parent/7/oss-parent-7.pom.sha1
libraries/org/sonatype/oss/oss-parent/9/_remote.repositories
libraries/org/sonatype/oss/oss-parent/9/oss-parent-9.pom
libraries/org/sonatype/oss/oss-parent/9/oss-parent-9.pom.sha1
libraries/org/spongepowered/configurate-core/4.1.2/configurate-core-4.1.2.jar
libraries/org/spongepowered/configurate-yaml/4.1.2/configurate-yaml-4.1.2.jar
libraries/org/xerial/sqlite-jdbc/3.36.0.3/sqlite-jdbc-3.36.0.3.jar
libraries/org/yaml/snakeyaml/1.33/snakeyaml-1.33.jar
libraries/redis/clients/jedis/4.3.1/_remote.repositories
libraries/redis/clients/jedis/4.3.1/jedis-4.3.1.jar
libraries/redis/clients/jedis/4.3.1/jedis-4.3.1.jar.sha1
libraries/redis/clients/jedis/4.3.1/jedis-4.3.1.pom
libraries/redis/clients/jedis/4.3.1/jedis-4.3.1.pom.sha1
logs/latest.log
plugins/CraftingStore/config.yml
plugins/Gcafk/config.yml
plugins/Gcafk/messages.yml
plugins/PlayerParticles/playerparticles.db
plugins/PluginHiderFixer/config.yml
plugins/spark/config.json
plugins/WorldGuard/cache/profiles.sqlite
plugins/WorldGuardGUI/templates.yml
versions/1.19.3/purpur-1.19.3.jar
world_nether/paper-world.yml
world_nether/session.lock
world_nether/uid.dat
world_the_end/paper-world.yml
world_the_end/session.lock
world_the_end/uid.dat
plugins/WorldGuard/cache/profiles.sqlite
plugins/PlayerParticles/playerparticles.db
plugins/WorldGuard/cache/profiles.sqlite
plugins/PlayerParticles/playerparticles.db
plugins/WorldGuard/cache/profiles.sqlite
plugins/PlayerParticles/playerparticles.db
*.db
*.sqlite
